.App {
  font-family:Avenir, "Century Gothic", sans-serif;
  font-weight:100; 
  font-style:normal;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.962);
  padding:20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header{
  width: 100%;
  color:white;
  text-align: center;
}

.headerBtn {
  margin-bottom: 50px;
  margin-right: 10px;
}

.ReadPosts {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color:white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 3px;
}
button:hover {
  border-color: #646cff;
}

.sidenavi{
  height: 100%;
  width: calc(25% - 20px); /* adjust width to account for padding */
  position: fixed;
  top: 0;
  left:0;
  bottom: 0;
  background-color: aqua;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 10px;
  padding-bottom:10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.home{
  margin-left: 30%;
}

.ReadPosts{
  margin-left: 30%;
}